html {
	font-family: Helvetica, Arial;
	background: #141414 url('../images/background.png') no-repeat;
	
}

#base {
  padding: 15px;
  position: relative;
}




/*header*/

#header {
	
	color: #FFF;
	width: 300px;
	overflow: auto;
}
#header a {
	color: #99FFFF;
/*  opacity: 0.7;*/
}

#header p {
	color: #CCC;
}

#description p {
	margin-bottom: 18px;
}

#header h3 {
  font-size: 12px;
  margin: 15px 0 10px 0;
  padding: 15px 0 0 0;
  border-top: solid 1px #CCC;
  text-transform: uppercase;
}

h1 {
  color: #DEDEDE;
  font-family: palatino, Georgia;
	font-size: 40px;
	line-height: 40px;
	font-weight: bold;
	margin-bottom: 8px;
	text-shadow: 1px 1px 3px #000;
}

p {
	font-size: 15px;
	line-height: 22px;
}

/*settings*/
#settings {

  
}


#settings h5 {
  font-size: 13px;
  line-height: 24px;
}

#settings p {
  font-size: 13px;
  line-height: 24px;
}


#settings .settingsGroup p {
  padding-left: 20px;
}

/*converter*/

#converter {
	position: absolute;
	top: 15px;
	left: 330px;
	border-color:#000000 #666666 #666666 #000000;
  border-style:solid;
  border-width:2px;
}


p.dataHeaders{
	height: 30px;
	padding: 15px 15px 10px;
}

.textInputs {
	width: 100%;
	height: 300px;
	font-size: 12px;
	font-family: monospace;
	background-color: #C9B7C7;
	border: none;
}


.groupHeader{
  width: 100%;
  color: #FFF;
  height: 45px;
  background-color:#5F255C;
  background-image: url('../images/header_gradient.png');
}


p.groupHeadline {
  padding: 10px;
}
.groupHeader span.subhead {
  opacity: 0.7;
  font-size: 12px;
}

.groupHeader a {
  color: #FF66FF;
}


#outputGroup {

}

#dataInput {
	
}

#dataOutput {

	
}
#dataSelector {
	width: 200px;
	line-height: 22px;
	font-size: 16px;
	padding: 2px 0px;
}

#dataSelector option {

}