html {
	font-family: Helvetica, Arial;
	background: #000;
	
}

#base {
  padding: 15px;
  position: relative;
  background-color: #000;
}




/*header*/

#header {
	
	color: #FFF;
	width: 300px;
	overflow: auto;
}
#header a {
	color: #CCEEEE;
}

#header p {
	color: #CCC;
}

#header h3 {
  font-size: 12px;
  margin: 15px 0 10px 0;
  padding: 15px 0 0 0;
  border-top: solid 1px #CCC;
  text-transform: uppercase;
}

h1 {
  font-family: Georgia;
	font-size: 40px;
	line-height: 40px;
	font-weight: bold;
	margin-bottom: 8px;
}

p {
	font-size: 15px;
	line-height: 22px;
}

/*settings*/
#settings {

  
}


#settings h5 {
  font-size: 13px;
  line-height: 24px;
}

#settings p {
  font-size: 13px;
  line-height: 24px;
}


#settings .settingsGroup p {
  padding-left: 20px;
}

/*converter*/

#converter {
	position: absolute;
	top: 15px;
	left: 320px;
}


#convertButton {
	color: #FFF;
	border: 2px solid #333;
	background-color:#666;
	padding: 4px 8px;
	margin-left: 10px;
	text-transform: uppercase;
	font-size: 11px;
	font-family: Arial;
	text-decoration: none;
}

#convertButton:hover {
	border:2px solid #000;
	background-color:#555;
}

p.dataHeaders{
	height: 30px;
	padding: 15px 15px 10px;
}

.textInputs {
	width: 100%;
	height: 300px;
	font-size: 12px;
	font-family: monospace;
	background-color: #C9B7C7;
	border: solid 2px #B94BA1;
}

#inputGroup {

}

#inputGroup a {
	
}

#dividerGroup {
  width: 100%;
  color: #FFF;
  height: 50px;
  background-color:#5F255C;
}


#outputGroup {

}

#dataInput {
	
}

#dataOutput {

	
}
#dataSelector {
	width: 200px;
	line-height: 22px;
	font-size: 16px;
	padding: 2px 0px;
}

#dataSelector option {

}